@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fafafa;
}

.card {
  @apply hover:shadow-lg;
  @apply transition-shadow;
}

.markdown > * {
  all: revert;
}


.markdown table {
  border: 1px solid #ddd;
  border-collapse: collapse;
}
.markdown th, .markdown td {
  padding: 8px;
  border: 1px solid #ddd;
}